.main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.preview_stack {
  height: 150px;
  max-width: 256px;
  position: relative;
}

.preview:nth-child(1) {
  transform: translate(-50%, -50%);
  z-index: 0;
}

.preview:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-16deg);
  z-index: 1;
}

.preview:nth-child(3) {
  transform: translate(-50%, -50%) rotate(12deg);
  z-index: 2;
}

.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  max-width: 256px;
  object-fit: contain;
  background: rgba(245, 245, 245, 0.6);
  border-radius: 16px;
  backdrop-filter: blur(2px);
  border-width: 1px;
  border-color: lightgrey;
}

.preview_no_selection {
  border: dotted lightgrey;
  border-radius: 16px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-8);
}

.row {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.scale_export_item {
  display: flex;
  align-items: center;
  gap: var(--space-8);
}

.scale_export_item_icon {
  flex-grow: 1;
}

.scale_export_item_icon[data-unchecked="true"] {
  color: var(--figma-color-icon-disabled);
}

.naming {
  display: flex;
  gap: 8px;
}

.naming > div:nth-child(1) {
  flex-basis: 70%;
}

.naming > div:nth-child(2) {
  flex-basis: 30%;
}

.structure label {
  width: 100%;
}

.quality {
  display: flex;
  gap: 8px;
  align-items: center;
}

.quality > div:nth-child(1) {
  flex-basis: 70%;
}

.quality > div:nth-child(2) {
  flex-basis: 30%;
}

.resize_handle {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  cursor: se-resize;
}

#donate {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}

#donate > img {
  height: 24px;
  padding-right: 8px;
}
